/* Variables de couleurs */
:root {
    --primary: #b8081e;
    --primary-dark: #99061a;
    --background-light: #fff5f4;
    --text-dark: #000000;
    --text-medium: #444444;
    --input-border: #cccccc;
    --white: #ffffff;
}

/* Structure générale */

.row {
    display: flex;
    height: 100vh;
    width: 100%;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

/* Les 2 colonnes prennent 50% */
.img-connexion,
.section-connexion {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}

/* Section Université */

.img-connexion {
    align-items: flex-start;
    background: var(--background-light);
    padding-left: 8rem;
}

.img-connexion img {
    width: 120px;
    margin-bottom: 20px;
}

.img-connexion h1 {
    font-size: 40px;
    margin: 0 0 10px 0;
    color: var(--primary);
}

.img-connexion p {
    font-size: 16px;
    max-width: 400px;
    text-align: left;
    line-height: 1.6;
    color: var(--text-medium);
}

/* Section de connexion */

.section-connexion {
    align-items: center;
    background: var(--white);
    padding: 60px;
}

.section-connexion h2 {
    font-size: 26px;
    margin-bottom: 25px;
    color: var(--text-dark);
}

/* Formulaire de connexion */

.login-form {
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Labels */

.login-form label {
    font-weight: 600;
    margin-bottom: -10px;
}

/* Inputs avec icône */

.input-icon {
    position: relative;
    width: 100%;
}

.input-icon input {
    width: 100%;
    padding: 12px 40px 12px 12px;
    border: 1px solid var(--input-border);
    border-radius: 6px;
    font-size: 16px;
    box-sizing: border-box;
}

.input-icon i {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--primary);
    font-size: 18px;
    pointer-events: none;
}

/* Bouton de connexion */

.btn-form {
    padding: 12px;
    background-color: var(--primary);
    color: var(--white);
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn-form:hover {
    background-color: var(--primary-dark);
}


/* Erreurs */

.erreur {
    color: var(--primary-dark);
    padding: 10px;
    border-radius: 5px;
    margin-top: 15px;
}
